
<div class="selection-list">
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Choose Payment Option</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="index_1.html">Home</a></li>
                        <li>Choose Payment Option</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container margin-bottom-75">
    <div class="row">
        <div class="col-lg-8 col-md-8 utf_listing_payment_section">
            <div class="utf_booking_listing_section_form margin-bottom-40">
                <h3><i class="fa fa-bed"></i> Selected Rooms </h3>
                <div class="row">
                    <div class="utf_pricing_list_section">
                        <ul>
                            {% for id, item in data.items %}
                                <li>
                                    <h5>{{item.room_name}}</h5>
                                    </span>
                                    <p><strong>Room Type: </strong></p>
                                    <p><strong>Number of Beds: {{item.number_of_beds}} </strong> </p>
                                    <span> {{item.room_price}} &nbsp; <a style="cursor: pointer; border-left: 1px solid black" class="delete-item padding-left-20" data-item="{{id}}"><i class="fa fa-trash btn-danger"></i></a></span> 
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <form class="utf_booking_payment_option_form" method="POST">
                {% csrf_token %}
                <h3><i class="sl sl-icon-credit-card "></i> Billing Information </h3>
                <div class="payment">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-label">
                                <label for="name">Name</label>
                                <input id="name" name="full_name" placeholder="Name" required="" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-label">
                                <label for="email">Email</label>
                                <input id="email" name="email" placeholder="Email" required="" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-label">
                                <label for="phoneNumber">Phone Number</label>
                                <input id="phoneNumber" name="phone" placeholder="Phone Number" required="" type="text">
                            </div>
                        </div>
                       
                    </div>
                </div>
                <button type="submit" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Coontinue to Checkout</a>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 margin-top-0 utf_listing_payment_section">
            <div class="utf_booking_listing_item_container compact utf_order_summary_widget_section">
                <div class="listing-item"> <img src="{{hotel.image.url}}" style="object-fit:cover" alt="">
                    <div class="utf_listing_item_content">
                        <h3>{{hotel.name}}</h3>
                        <span><i class="fa fa-map-marker"></i>{{hotel.address}}</span>
                        <span><i class="fa fa-phone"></i> {{hotel.mobile}}</span>
                        <!-- <div class="utf_star_rating_section" data-rating="4.5"> -->
                        <div class="utf_counter_star_rating">(18) Reviews</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxed-widget opening-hours summary margin-top-0">
            <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
            <ul>
                <li>Checkin <span>{{checkin}}</span></li>
                <!-- <li>Hour <span>1:30 PM</span></li> -->
                <li>Checkout <span>{{checkout}}</span></li>
                <li>Total Days <span>{{total_days}}</span></li>
                <li>Adults <span>{{adult}}</span></li>
                <li>Children <span>{{children}}</span></li>
                <li class="total-costs">
                    <h4>Total Cost <span>{{total}} <span></h4>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>


</div>