{% extends 'partials/base.html' %}
{% load static %}
{% block content%}

<section class="padding-top-50 padding-bottom-70" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h1 class="margin-bottom-20">Register</h1>
                <p class="margin-bottom-30">Welcome! Create an account to get started.</p>
                <form method="POST" class="register">
                    {% csrf_token %}
                    {{ form.full_name }}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.phone }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <button type="submit" style="width: 100%;" class="button border fw margin-top-10">Register</button>
                </form>
                <div class="text-center margin-top-20">
                    <p>Already have an account? <a href="{% url 'userauths:sign-in' %}">Sign in</a></p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'images/register.png' %}" alt="Register Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% endblock content%}
