{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}

<div class="row">

    <div class="col-lg-12">
        <div class="utf_dashboard_list_box margin-top-0">
            <div class="sort-by my_sort_by">
                <div class="utf_sort_by_select_item">

                </div>
            </div>
            <h4>All Bookings</h4>
            <ul>
                {% for b in booking %}
                <li class="utf_approved_booking_listing margin-bottom-10 ">
                    <div class="utf_list_box_listing_item bookings">
                        <div class="utf_list_box_listing_item-img"><img src="{{ profile.image.url }}" alt=""></div>
                        <div class="utf_list_box_listing_item_content">
                                               

                            <div class="inner">
                                <h3>{{ b.full_name|title}} <span class="utf_booking_listing_status">{{b.payment_status|title}}</span></h3>
                                <div class=""> <a href="{% url 'user_dashboard:booking_detail' b.booking_id %}" class="button gray "><i class="sl sl-icon-eye"></i> View Booking Detail</a> </div>

                                <div class="utf_inner_booking_listing_list">
                                    <h5>Hotel Name:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li>{{ b.hotel.name }}</li>
                                    </ul>
                                </div>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Hotel Address:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li>{{ b.hotel.address }}</li>
                                    </ul>
                                </div>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Hotel Email:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.hotel.email}}</li>
                                    </ul>
                                </div>

                                <div class="utf_inner_booking_listing_list">
                                    <h5>Hotel Phone:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.hotel.mobile }}</li>
                                    </ul>
                                </div>

                                <hr>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Checkin Date:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.check_in_date }}</li>
                                    </ul>
                                </div>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Checkout Date:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.check_out_date }}</li>
                                    </ul>
                                </div>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Total Days:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.total_days }}</li>
                                    </ul>
                                </div>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Booking Details:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.num_adult }} Adults</li>
                                        <li class="highlighted">{{ b.num_children }} Children</li>
                                    </ul>
                                </div>

                                <hr>
                                <div class="utf_inner_booking_listing_list">
                                    <h5>Full Name:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.full_name }}</li>
                                    </ul>
                                </div>

                                <div class="utf_inner_booking_listing_list">
                                    <h5>Email Address:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.email }}</li>
                                    </ul>
                                </div>

                                <div class="utf_inner_booking_listing_list">
                                    <h5>Phone Number:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.phone }}</li>
                                    </ul>
                                </div>


                                <div class="utf_inner_booking_listing_list">
                                    <h5>Price:-</h5>
                                    <ul class="utf_booking_listing_list">
                                        <li class="highlighted">{{ b.hotel.total }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="footer_copyright_part">Copyright © 2022 All Rights Reserved.</div>
    </div>
</div>
</div>
</div>
</div>

{% endblock content %}